@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Poppins', sans-serif;
}

.header-main{
    background-color: grey;
    text-align: center;
    padding: 1rem;
    width: 100%vw;
}



.gameInfo {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;

}

.gameScores {
    text-align: center;
    padding: 2rem;
    font-size: 3rem;

}

.gameButtons {
    display: flex;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.gameButtons > .game-btn {
    padding: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    
}


@media (max-width: 490px) {
    .gameButtons {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 3rem;
    }
}